{% extends 'base.html.twig' %}

{% block title %}Easy Poll{% endblock %}

{% block body %}
	<div {{ react_component('App', { 'user': is_granted("IS_AUTHENTICATED_REMEMBERED") }) }}></div>
{% endblock %}