{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
     <div {{ react_component('RegisterForm', { 'csrfToken': registrationForm.children._token.vars.value }) }}></div>
{% endblock %}
