{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

     <div {{ react_component('RegisterForm', { 'csrfToken': registrationForm.children._token.vars.value }) }}></div>

{% endblock %}
