<form method="post" action="{{ path('app_poll_delete', {'id': poll.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce sondage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poll.id) }}">
    <button class="btn">Supprimer le sondage</button>
</form>
