{% extends 'base.html.twig' %}

{% block title %}Résultats du Sondage{% endblock %}

{% block body %}
<div>
    <h2 class="mt-12 text-center text-3xl font-extrabold">
        Résultats du <span class="text-primary">Sondage</span>
    </h2>
    <p class="text-center text-lg text-customGrey mt-2">
        {{ poll.title }} 
    </p>
    
    <div class="max-w-md mx-auto bg-white p-6 mt-6">
        
        {% for answer in poll.answers %}
        <div class="flex justify-between items-center bg-purple-50 border border-primary rounded-lg p-3 mb-3">
            <label class="flex-1 text-primary">{{answer.answerText}}</label>
            <span class="text-primary font-bold">{{answer.votesCount}} votes</span>
        </div>
        {% endfor %}
        
    </div>
    <div class="flex justify-center mt-6">
        <a href="{{ path('app_home') }}" class="border font-medium text-md rounded-md px-4 py-2 hover:bg-customGrey/10 transition-all">
            Retourner à l'accueil
        </a>
    </div>
</div>
{% endblock %}
